/*======FONTS======*/

@font-face {
  font-family: "Calissa Words";
  src: url("/assets/fonts/CalissaWords.ttf");
}

@font-face {
  font-family: "saturno";
  src: url("/assets/fonts/saturno.ttf");
}

@font-face {
  font-family: "Starlz";
  src: url("/assets/fonts/Starlz.ttf");
}

@font-face {
  font-family: "Zai";
  src: url("/assets/fonts/zai_TributeToCasellisPantelegraph.ttf");
}