/*======FONTS======*/
@font-face {
  font-family: "Berzulis-Gaila";
  src: url("/assets/fonts/Berzulis-GAILA-Regular.ttf");
}
@font-face {
  font-family: "Berzulis-Magyla";
  src: url("/assets/fonts/Berzulis-MAGYLA-Regular.ttf");
}
@font-face {
  font-family: "Coentgen-Kanzley";
  src: url("/assets/fonts/Coentgen_Kanzley.ttf");
}