/*======FONTS======*/
@font-face {
  font-family: "Blackbird";
  src: url("/assets/fonts/PROJEKT_BLACKBIRD.otf");
}
@font-face {
  font-family: "Berzulis-Magyla";
  src: url("/assets/fonts/Berzulis-MAGYLA-Regular.ttf");
}
@font-face {
  font-family: "Coentgen-Kanzley";
  src: url("/assets/fonts/Coentgen_Kanzley.ttf");
}