/*======GLOBAL======*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");

html,
body {
  background-color: $white;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $font-regular;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  @include transition2(all, 0.5s, ease-in-out);
  @include fluid-type(320px, 1680px, 12px, 16px);
  overflow-x: hidden;
  color: $black;
  color: $black;
  scroll-behavior: smooth;
  scrollbar-color: $black;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $grey-clear02;
    border: 1px solid $black-clear02;
  }
  .main {
    position: relative;
  }
  .container {
    .row {
      --bs-gutter-y: 1.5rem;
    }
  }
  @media (min-width: 1400px) {
    .container {
      height: auto;
      .row {
        --bs-gutter-y: 0;
      }
    }
  }
}
.section {
  width: 100%;
  height: auto;
  padding: 40px 0;
  &:first-child {
    padding: 0;
  }
  &:nth-child(2) {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 60px;
  }
  @media (min-width: 992px) {
    &:nth-child(2) {
      padding-top: 40px;
    }
    &.aside {
      position: relative;
      top: 0;
      left: 40%;
      width: 60%;
    }
  }
  @media (min-width: 1200px) {
    &:last-child {
      padding-bottom: 100px;
    }
  }
}
::selection {
  color: $black-clear02;
  background: $yellow;
}
.p-relative {
  position: relative;
}
@keyframes rotate3d {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes jump {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes strobe {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translate {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(15px);
  }
}
@keyframes scaleIntro {
  from {
    transform: translate(-50%, -50%) rotate(0deg) scale(5);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
