/*======TYPOGRAPHY======*/
.description-text {
  display: block;
  word-break: break-word;
  width: 100%;
  font-family: $font-regular;
  @include fluid-type(320px, 1199px, 14px, 16px);
  text-align: left;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  &.small {
    @include fluid-type(320px, 1199px, 12px, 14px);
  }
  &.medium {
    @include fluid-type(320px, 1199px, 16px, 18px);
  }
  &.big {
    @include fluid-type(320px, 1199px, 18px, 20px);
  }
  &.text-right {
    text-align: right;
  }
  &.text-decoration {
    text-decoration: underline;
  }
  &.text-justify {
    text-align: justify;
  }
  &.text-center {
    text-align: center;
  }
  &.font-bold {
    font-weight: 700;
  }
  &.font-bold-italic {
    font-weight: 700;
    font-style: italic;
  }
  &.font-black {
    font-weight: 900;
  }
  &.font-italic {
    font-style: italic;
  }
  &.black {
    color: $black;
  }
  &.white {
    color: $white;
  }
  &.text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $black;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.lowercase {
    text-transform: lowercase;
  }
  &.capitalize {
    text-transform: capitalize;
  }
}

.description-title {
  display: block;
  word-break: break-word;
  width: 100%;
  font-family: $font-regular;
  @include fluid-type(320px, 1199px, 20px, 24px);
  text-align: left;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  &.small {
    @include fluid-type(320px, 1199px, 18px, 22px);
  }
  &.big {
    @include fluid-type(320px, 1199px, 24px, 28px);
  }
  &.bigger {
    @include fluid-type(320px, 992px, 40px, 60px);
  }
  &.click-me {
    @include fluid-type(320px, 992px, 16px, 50px);
  }
  &.text-right {
    text-align: right;
  }
  &.text-decoration {
    text-decoration: underline;
  }
  &.text-justify {
    text-align: justify;
  }
  &.text-center {
    text-align: center;
  }
  &.font-bold {
    font-weight: 700;
  }
  &.font-bold-italic {
    font-weight: 700;
    font-style: italic;
  }
  &.font-black {
    font-weight: 900;
  }
  &.font-italic {
    font-style: italic;
  }
  &.black {
    color: $black;
  }
  &.white {
    color: $white;
  }
  &.text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $black;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.lowercase {
    text-transform: lowercase;
  }
  &.capitalize {
    text-transform: capitalize;
  }
}
