/*======COLORS======*/
$black: #000;
$black-clear01: #333333;
$black-clear02: #575757;
$grey-clear01: #fcfcfc;
$grey-clear02: #dbdbdb;
$white: #ffffff;
$blue: #1900ff;
$blue-medium:#3375e0;
$blue-light: #e7ebff;
$purple: #6f00ff;
$purple-light: #ebd8ff;
$red: #ff0000;
$pink: #ff00be;
$pink-light: #ffd4f4;
$yellow: #ffff00;
$green: #26c548;

/*======FONTS======*/
$font-regular: 'Inter', sans-serif;
$font-handwriting: 'Beau Rivage', cursive;
$font-01: "Coentgen-Kanzley";
$font-02: "Berzulis-Gaila";
$font-03: "Berzulis-Magyla";
