/*======COLORS======*/
$black: #000;
$black-clear01: #333333;
$black-clear02: #231f20;
$grey-clear01: #f2f2f2;
$grey-clear02: #E7E7E7;
$white: #fff;
$color-blue-primary: #00ffc8;
$color-blue-secundary: #99ffe9;
$color-pink-primary: #ff00d4;
$color-pink-secundary: #ffb8f3;

/*======FONTS======*/
$font-regular: 'Inter', sans-serif;
$font-01: "Coentgen-Kanzley";
$font-02: "Berzulis-Gaila";
$font-03: "Berzulis-Magyla";
