/*====ABOUT====*/
.section-about {
  position: relative;
  background-color: $grey-clear01;
  .about-text-wrapper {
    .description-text {
      color: $black;
    }
  }
  .about-ascii-wrapper {
    pre {
      font-family: monospace;
      white-space: pre;
      font-size: 6px;
    }
  }
}
@media (min-width: 992px) {
  .section-about {
    .about-ascii-wrapper {
      pre {
        font-size: 10px;
      }
    }
  }
}
