/*====ABOUT====*/
.section-about {
  position: relative;
  background-color: $white;
  .section-about-wrapper {
    background-color: $blue-light;
    padding: 20px 10px;
  }
  .about-pre-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s ease-out;
    &.is-open {
      grid-template-rows: 0fr;
    }
    pre {
      overflow: hidden;
      color: $blue;
      font-family: monospace;
      white-space: pre;
      font-size: 15px;
    }
  }
  .about-text-wrapper {
    .description-text {
      color: $black;
    }
  }
}
@media (min-width: 992px) {
  .section-about {
    padding: 30px;
    .section-about-wrapper {
      border-radius: 25px;
      padding: 40px 20px;
    }
  }
}
