/*====ABOUT====*/
.section-about {
  background-color: $white;
}
.section-about-wrapper {
  background-color: $blue-light;
  padding: 40px 10px;
  .about-text-wrapper {
    .description-text {
      margin-top: 15px;
    }
  }
}
.about-text-wrapper {
  .description-text {
    color: $black;
  }
}
@media (min-width: 992px) {
  .section-about {
    padding: 30px;
  }
  .section-about-wrapper {
    border-radius: 25px;
    padding: 40px 20px;
  }
}
