/*====FOOTER====*/
.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -50px;
  .footer-wrapper {
    position: relative;
    @include transition;
    width: 95%;
    max-width: 100%;
    z-index: 20;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .description-text {
      color: $black;
      span {
        margin-right: 5px;
      }
    }
  }
}
