/*====NAVBAR====*/
.navbar {
  position: fixed;
  height: auto;
  width: fit-content;
  min-width: 100%;
  z-index: 10000;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  @include transition;
  a {
    text-decoration: none;
    color: $black;
  }
}
.navbar-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
  width: 100%;
  .navbar-menu-item {
    background-color: rgba($white, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    @include transition;
    &.item-01 {
      &.animation {
        animation: navbarItem 1.5s ease-in-out;
        animation-delay: 0.3s;
      }
    }
    &.item-02 {
      &.animation {
        animation: navbarItem 1.5s ease-in-out;
        animation-delay: 0.6s;
      }
    }
    &.item-03 {
      &.animation {
        animation: navbarItem 1.5s ease-in-out;
        animation-delay: 0.9s;
      }
    }
    &.item-04 {
      &.animation {
        animation: navbarItem 1.5s ease-in-out;
        animation-delay: 1.2s;
      }
    }
    .description-title {
      text-align: center;
      color: $black;
      @include transition;
    }
    &:hover {
      background-color: $blue;
      .description-title {
        color: $white;
        font-family: $font-03;
      }
    }
  }
}
