/*====NAVBAR====*/
.navbar {
  position: fixed;
  border-radius: 50px;
  background: linear-gradient(145deg, $grey-clear01, $grey-clear02);
  -webkit-box-shadow: 9px 6px 6px -3px $grey-clear01;
  -moz-box-shadow: 9px 6px 6px -3px $grey-clear01;
  box-shadow: 9px 6px 6px -3px $grey-clear01;
  border-radius: 20px;
  max-width: 200px;
  height: auto;
  z-index: 10;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  @include transition;
  .navbar-menu-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    .navbar-menu-list {
      z-index: 9;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      flex-wrap: wrap;
      width: 100%;
      text-align: right;
      overflow: hidden;
      @include transition;
      .navbar-menu-item {
        cursor: pointer;
        background-color: $white;
        border-radius: 30px;
        border: 2px solid $yellow;
        .description-text {
          padding: 3px 10px;
          text-align: center;
          color: $black;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar {
    .navbar-menu-wrapper {
      .navbar-menu-list {
        .navbar-menu-item {
          &:hover {
            animation: shake 0.3s ease-in-out infinite;
            border-color: $blue-light;
            .description-text {
              color: $red;
              font-family: $font-03;
            }
          }
        }
      }
    }
  }
}
