/*====SKILLS===*/
.skills-dropdown-toggle {
  position: relative;
  cursor: pointer;
  margin: 30px 0 20px 0;
  width: 100%;
  padding: 15px 20px;
  border-radius: 25px;
  background-color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: strobe 1.5s ease-in-out infinite;
  &.no-animation {
    animation: none;
  }
  .description-text {
    &:first-child {
      color: $blue;
    }
  }
}
.skills-dropdown-wrapper {
  z-index: 18;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
  &.is-open {
    grid-template-rows: 1fr;
  }
  .skills-dropdown-inner {
    position: relative;
    overflow: hidden;
  }
}
.skills-dropdown-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 30px 20px;
  border-radius: 35px;
  background-color: $grey-clear01;
  &.is-open {
    pointer-events: none;
  }
  @include transition;
  .skills-dropdown-list-description {
    width: 100%;
    margin: 0 50px 20px 50px;
  }
  .skills-dropdown-list-item {
    .description-text {
      text-align: center;
      color: $black;
      &.divider {
        font-weight: 900;
      }
      &.option {
        font-weight: 400;
        cursor: pointer;
      }
    }
    .skills-infocard-wrapper {
      @include transition;
      position: fixed;
      overflow-y: scroll;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 600px;
      max-height: fit-content;
      height: 50vh;
      background-color: $white;
      border-radius: 25px;
      padding: 15px 20px;
      opacity: 0;
      animation: none;
      pointer-events: none;
      -webkit-box-shadow: 5px 5px 5px 0px rgba($black, 0.1);
      box-shadow: 5px 5px 5px 0px rgba($black, 0.1);
      &::-webkit-scrollbar {
        width: 0;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
      &.is-open {
        opacity: 1;
        cursor: auto;
        pointer-events: initial;
      }
      .skills-infocard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .close {
          width: fit-content;
          cursor: pointer;
          text-align: center;
          text-decoration: underline;
          margin-bottom: 10px;
          color: $black;
          span {
            text-decoration: none;
            font-style: none;
            font-weight: 400;
          }
        }
        .info-title {
          font-family: $font-handwriting;
          text-align: center;
          color: $black-clear02;
        }
        .info-description {
          color: $black;
        }
      }
    }
  }
}
@media (min-width: 576px) {
  .skills-dropdown-list {
    .skills-dropdown-list-item {
      .skills-infocard-wrapper {
        height: auto;
      }
    }
  }
}
@media (min-width: 992px) {
  .skills-dropdown-list {
    .skills-dropdown-list-item {
      .description-text {
        &.option {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .skills-infocard-wrapper {
        max-width: 700px;
        &:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .skills-dropdown-wrapper {
    z-index: 99;
  }
}
