/*====SKILLS===*/
.skills-dropdown-toggle {
  margin: 30px 0 20px 0;
  background-color: $white;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 5px 0px $grey-clear02,
    inset 4px 4px 15px 0px $grey-clear02;
  box-shadow: 5px 5px 5px 0px $grey-clear02,
    inset 4px 4px 15px 0px $grey-clear02;
  cursor: pointer;
  animation: gelatine 3s infinite;
  .description-text {
    &:first-child {
      color: $blue;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
}
.skills-dropdown-list-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  &.is-open {
    grid-template-rows: 1fr;
    .skills-dropdown-list {
      padding: 15px 20px;
    }
  }
}
.skills-dropdown-list {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  background-color: $purple-light;
  border-radius: 10px;
  padding: 0 20px;
  @include transition;
  .skills-dropdown-list-item {
    &.option {
      text-align: center;
      color: $black-clear02;
      cursor: pointer;
    }
    &.description {
      width: 100%;
      background-color: $white;
      padding: 10px 20px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    .skills-info-box-wrapper {
      @include transition;
      animation: none;
      width: 90%;
      max-width: 600px;
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      border-radius: 25px;
      border: 1px solid $black;
      padding: 15px 20px;
      opacity: 0;
      pointer-events: none;
      &.is-open {
        opacity: 1;
        pointer-events: all;
      }
      .skills-info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .close {
          width: fit-content;
          cursor: pointer;
          text-align: center;
          text-decoration: underline;
          margin-bottom: 10px;
          color: $black;
          span {
            text-decoration: none;
            font-style: none;
            font-weight: 400;
          }
        }
        .info-title {
          font-family: $font-handwriting;
          text-align: center;
          color: $black-clear02;
        }
        .info-description {
          color: $black;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .skills-dropdown-toggle {
  }
  .skills-dropdown-list {
    justify-content: center;
    .skills-dropdown-list-item {
      &.option {
        &:hover {
          color: $purple;
        }
      }
      .skills-info-box-wrapper {
        position: fixed;
        max-width: 700px;
        &:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
}
