/*====WELCOME====*/
.welcome-text-wrapper {
  position: fixed;
  z-index: 22;
  right: -2.5rem;
  bottom: 140px;
  @include transition;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &.is-open {
    right: 2rem;
    .welcome-text-box {
      display: block;
    }
    .welcome-text-btn {
      animation: none;
    }
  }
  .welcome-text-box {
    background-color: $blue-medium;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 300px;
    display: none;
    color: $white;
  }
  .welcome-text-btn {
    cursor: pointer;
    width: fit-content;
    background-color: rgba($white, 0.8);
    border: 1px solid rgba($black, 0.5);
    border-radius: 15px;
    padding: 10px;
    margin-top: 35px;
    animation: translateRotate 2s ease infinite;
    /*     -webkit-box-shadow: 5px 5px 5px 0px rgba($red, 0.3);
    box-shadow: 5px 5px 5px 0px rgba($red, 0.3); */
  }
}
@media (min-width: 1200px) {
  .welcome-text-wrapper {
    bottom: 100px;
    right: auto;
    left: 15rem;
    &.is-open {
      right: auto;
    }
    .welcome-text-btn {
      animation: translate 2s ease infinite;
    }
  }
}
