/*====WELCOME====*/
.section-welcome {
  position: relative;
  overflow: hidden;
  height: 0;
  z-index: 22;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-text-wrapper {
  position: fixed;
  right: -12%;
  bottom: 140px;
  @include transition;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &.is-open {
    right: 10%;
    .welcome-text-box {
      display: block;
    }
    .welcome-text-btn {
      animation: none;
    }
  }
  .welcome-text-box {
    background-color: $blue-medium;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 300px;
    display: none;
    color: $white;
  }
  .welcome-text-btn {
    cursor: pointer;
    width: fit-content;
    background-color: rgba($white, 0.8);
    border: 1px solid rgba($black, 0.5);
    padding: 10px;
    margin-top: 20px;
    animation: translateRotate 2s ease infinite;
    -webkit-box-shadow: 5px 5px 5px 0px $grey-clear02;
    box-shadow: 5px 5px 5px 0px $grey-clear02;
  }
}
@media (min-width: 1200px) {
  .welcome-text-wrapper {
    bottom: 100px;
    right: auto;
    left: 15%;
    &.is-open {
      right: auto;
    }
    .welcome-text-btn {
      animation: translate 2s ease infinite;
    }
  }
}
