/*====WELCOME====*/
.section-welcome {
  position: relative;
  overflow: hidden;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pre {
    width: fit-content;
    color: $black-clear02;
    font-weight: 800;
    font-family: monospace;
    white-space: pre;
    font-size: 15px;
  }
}
.welcome-text-wrapper {
  position: absolute;
  z-index: 3;
  right: 10%;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &.is-open {
    .welcome-text-box {
      display: block;
    }
    .welcome-text-btn {
      animation:none;
    }
  }
  .welcome-text-box {
    background-color: $blue-medium;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 300px;
    display: none;
    color: $white;
  }
  .welcome-text-btn {
    cursor: pointer;
    width: fit-content;
    background-color: $white;
    margin-top: 20px;
    animation: translate 2s ease infinite;
  }
}
@media (min-width: 992px) {
  .section-welcome {
    height: 100vh;
    width: 40%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    pre {
      font-size: 20px;
    }
  }
  .welcome-text-wrapper {
    bottom: 100px;
  }
}
