/*====WORK====*/
.section-work {
  display: flex;
  flex-direction: column;
  .section-work-modal {
    position: fixed;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: $white;
    }
    .work-modal {
      max-width: 400px;
      padding: 40px;
      animation: spin 20s ease-in-out infinite;
      .description-title {
        text-align: center;
        color: $blue;
        font-family: $font-01;
        font-weight: 600;
      }
    }
  }
  .section-work-option {
    width: 100%;
    .work-go-back {
      position: relative;
      z-index: 5;
      .description-title {
        color: $black;
        @include transition;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &.item-id {
    width: 100%;
    .work-title {
      color: $yellow;
      font-family: $font-01;
      -webkit-text-stroke-width: 0.7px;
      -webkit-text-stroke-color: $grey-clear02;
    }
    .work-option-item {
      position: relative;
      .description-title {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &.item-list {
    .work-option-list-wrapper {
      position: relative;
      z-index: 3;
      @include transition;
    }
  }
}
.work-title-wrapper {
  margin-bottom: 30px;
  .description-title {
    width: fit-content;
    text-align: center;
    color: $pink;
    font-family: $font-02;
  }
}
.work-item-info-wrapper {
  .description-text {
    &.link {
      width: fit-content;
      text-decoration: none;
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.work-option-list-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  a {
    text-decoration: none;
    color: $black;
  }
  &.version-work-background {
    align-items: center;
    .work-option-item {
      display: inline;
      width: fit-content;
      pointer-events: none;
      @include transition;
      a {
        position: relative;
      }
      .work-title {
        display: inline;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        color: transparent;
        background: $black-clear02;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba($white, 0.5);
        &.no-img {
          display: block;
          position: static;
          color: $black;
          transform: translate(0, 0);
        }
      }
      .work-item-swiper-wrapper {
        min-height: auto;
        max-width: 1000px;
        .work-item-swiper {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &.version-work-list {
    gap: 20px;
    position: relative;
    .work-option-item {
      border-radius: 25px;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      @include transition2(all, 1s, ease-in-out);
      .row {
        width: 100%;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .work-item-swiper-wrapper {
        display: inline-block;
        width: 100%;
        .work-item-swiper {
          object-fit: cover;
          border-radius: 25px;
          width: 100%;
          max-height: 200px;
          -webkit-box-shadow: -10px 0px 20px -7px $white,
            10px 0px 20px -7px $white, 0 0 20px 5px $white;
          box-shadow: -10px 0px 20px -7px $white, 10px 0px 20px -7px $white,
            0 0 20px 5px $white;
        }
      }
      .description-text,
      .description-title {
        color: $black;
      }
      &:hover {
        .description-text,
        .description-title {
          text-decoration: underline;
        }
      }
    }
  }
}
.work-item-swiper-wrapper {
  display: flex;
  justify-content: end;
  position: relative;
  .swiper {
    @include transition;
    .swiper-slide {
      width: 100% !important;
      .work-item-swiper {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .slider-arrows-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    .arrow-gallery-prev,
    .arrow-gallery-next {
      position: absolute;
      z-index: 2;
      opacity: 0;
      pointer-events: all;
      cursor: none;
      .arrow-gallery-prev {
        left: 0;
      }
      .arrow-gallery-next {
        right: 0;
      }
      i {
        color: $white;
        text-shadow: 0 1px $grey-clear02, -1px 0 $grey-clear01,
          -1px 2px $grey-clear02, -2px 1px $grey-clear01, -2px 3px $grey-clear02,
          -3px 2px $grey-clear01, -3px 4px $grey-clear02, -4px 3px $grey-clear01,
          -4px 5px $grey-clear02, -5px 4px $grey-clear01, -5px 6px $grey-clear02,
          -6px 5px $grey-clear01, -6px 7px $grey-clear02, -7px 6px $grey-clear01,
          -7px 8px $grey-clear02, -8px 7px $grey-clear01;
      }
    }
  }
}
.work-choose-btn-wrapper {
  .work-choose-btn-list {
    flex-wrap: wrap;
    pointer-events: none;
    gap: 15px;
    .work-choose-btn-item {
      width: fit-content;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      overflow: hidden;
      pointer-events: auto;
      background-color: rgba($white, 0.5);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      border-radius: 25px;
      .description-text {
        text-align: center;
        color: $green;
      }
      &.active {
        background-color: $white;
        mix-blend-mode: normal;
        border-radius: 0;
        .description-text {
          font-style: italic;
          color: $black;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .work-option-list-wrapper {
    &.version-work-background {
      .work-option-item {
        position: relative;
        pointer-events: initial;
        &:hover {
          animation: gelatine 2s ease infinite;
        }
      }
    }
  }
  .work-item-swiper-wrapper {
    &:hover {
      .swiper {
        -webkit-box-shadow: 5px 5px 5px 0px $grey-clear02,
          inset 4px 4px 15px 0px $grey-clear02;
        box-shadow: 5px 5px 5px 0px $grey-clear02,
          inset 4px 4px 15px 0px $grey-clear02;
      }
    }
  }
}
