/*====WORK====*/
.section-work {
  position: relative;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section-work-option {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.work-title-wrapper {
  margin-bottom: 30px;
  .description-title {
    width: fit-content;
    text-align: center;
    color: $red;
    font-family: $font-02;
  }
}
.work-item-info-wrapper {
  .description-text {
    &:first-child {
      margin-bottom: 10px;
    }
    &.link {
      width: fit-content;
      color: $blue;
    }
    &:last-child {
      padding-bottom: 10px;
    }
  }
}
.work-option-list-wrapper {
  gap: 5px;
  &:last-child {
    padding-bottom: 15px;
  }
  &.list-effect {
    a {
      text-decoration: none;
      color: $black;
    }
    .work-option-item {
      position: relative;
      .work-title {
        @include transition;
        
      }
      .work-item-swiper-wrapper {
        display: none;
        position: absolute;
        top: -40px;
        left: 40%;
        .work-item-swiper {
          display: block;
          width: 100%;
          height: auto;
          max-width: 500px;
        }
      }
      &:hover {
        .work-title {
          transform: translateX(20px);
        }
        .work-item-swiper-wrapper {
          display: block;
        }
      }
    }
  }
  .work-option-item {
    .description-text {
      cursor: pointer;
      &.active {
        font-weight: 800;
        font-style: italic;
      }
    }
  }
}
.work-item-swiper-wrapper {
  display: flex;
  justify-content: end;
  position: relative;
  min-height: 30vh;
  .swiper {
    @include transition;
    .swiper-slide {
      width: 100% !important;
      .work-item-swiper {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .slider-arrows-wrapper {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    align-items: center;
    justify-content: space-between;
    .arrow-gallery-prev,
    .arrow-gallery-next {
      pointer-events: all;
      cursor: pointer;
      i {
        color: rgba($white, 0.8);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $black;
        @include transition2(all, 0.2s, ease-in-out);
      }
      &:hover {
        i {
          color: $red;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $red;
        }
      }
    }
  }
  &.video {
    justify-content: center;
    align-items: center;
  }
}
.work-choose-btn-options-wrapper {
  padding-top: 30px;
  .work-choose-btn-options {
    width: 100%;
    position: relative;
    top: -20px;
    z-index: 1;
    gap: 8px;
    .work-choose-btn {
      @include transition;
      display: inline;
      width: fit-content;
      padding: 10px 15px;
      border-radius: 35px;
      border: 2px solid $blue-light;
      background-color: $white;
      cursor: pointer;
      .description-text {
        @include transition;
        text-align: center;
        color: $blue-medium;
      }
      &.active {
        background-color: $blue-medium;
        .description-text {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .section-work-option {
    display: block;
  }
  .work-item-info-wrapper {
    .description-text {
      &.link {
        @include transition;
        &:hover {
          animation: rotate3d 3s ease-in-out infinite;
        }
      }
    }
  }
  .work-item-swiper-wrapper {
    &.photo {
      min-height: 50vh;
    }
    .swiper {
      &:hover {
        transform: translateX(-50px);
        -webkit-box-shadow: 5px 5px 5px 0px $grey-clear02,
          inset 4px 4px 15px 0px $grey-clear02;
        box-shadow: 5px 5px 5px 0px $grey-clear02,
          inset 4px 4px 15px 0px $grey-clear02;
      }
    }
  }
  .work-choose-btn-options-wrapper {
    position: relative;
    .work-choose-btn-options {
      position: absolute;
      justify-content: flex-start;
      transform: translateX(0);
      .work-choose-btn {
        min-width: 350px;
        position: relative;
        &:hover {
          background-color: $red;
          border-color: $black;
          animation: strobe 0.3s ease-in-out infinite;
          .description-text {
            font-family: $font-03;
            font-size: 40px;
            color: $black;
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .work-option-list-wrapper,
  .work-item-info-wrapper .description-text {
    &:last-child {
      padding-bottom: 30px;
    }
  }
}
